.admin-interface {
    .fencer-list {
        tr.accreditation-user {
            td {
                padding: 4px 2px;
                font-size: 12pt;
            }
        }
    }

    .el-form-item {
        .el-form-item__label {
            width: 200px;
            font-weight: bold;
        }
    }
}
