.checkout-interface {
    .table-wrapper {
        min-height: 200px;
        border: 1px solid black;
        width: 100%;
        overflow: scroll;
        margin-bottom: 5px;

        .processed-list {
            width: 100%;

            tr.pending {
                background-color: rgb(255, 177, 60);
            }
            tr.started {
                background-color: rgb(251, 233, 137);
            }
            tr.processed {
                background-color: rgb(55, 235, 124);
            }
            tr.error {
                background-color: rgb(253, 108, 108);
            }
            tr.pendinglist td.mark {
                background-color: rgb(234, 126, 255);
            }
        }
    }


    .el-dialog {
        .photoid-element {
            float:right;
        }
        
        .startprocess-dialog, .checkoutdialog {
            .field {
                padding-left: 20px;
                font-size: large;
                padding-bottom: 10px;

                b {
                    display: inline-block;
                    width: 90px;
                }
            }
            .title {
                padding-left: 0px;
            }
        }

        .checkoutdialog {
            background-color: #f88;
            margin-bottom: 20px;
        }

        .checkoutAllowed {
            background-color: white;
        }

        .error {
            padding: 20px;
            background-color: #f88;
        }

        .checkoutByHod {
            background-color: #b9b9ff;
        }

        .el-dialog__footer {
            clear: both;
        }
    }
}
