.overview-interface {
    height: 100%;
    width: 100%;
    background-color: var(--el-color-primary);

    .overview-header {
        width: 100%;
        color: white;
        position: relative;

        div.logo {
            float: left;
            height: 100%;
            max-width: 200px;

            img {
                height: 100%;
            }
        }

        div.title {
            font-family: Helvetica, Arial, sans-serif;
            text-align: center;
            vertical-align: middle;
            text-wrap: nowrap;
            width: 100%;
            position: absolute;
            bottom: 5px;
        }
    }

    .table-wrapper {
        height: 100%;
        width: 100%;
        overflow: scroll;
        table-layout: fixed;

        table {
            width: 100%;
            font-size: 32pt;
            padding: 0 20px;
            border-collapse: separate;

            /* the following is no longer used */
            tr.pending {
                background-color: rgb(4, 40, 199);
                color: white;
            }
            tr.started {
                background-color: rgb(251, 233, 137);
                color: black;
            }
            tr.processed {
                background-color: rgb(19, 156, 72);
                color: white;
            }
            tr.error {
                background-color: rgb(253, 108, 108);
                color: black;
            }

            tr {
                td {
                    padding: 5px 15px;
                    border: 1px solid black;
                    border-width: 1px 0 1px 0;
                }

                td.small, td.code, td.country {
                    width: 1%;
                }
                td.name {
                    overflow: hidden;
                    white-space: nowrap;

                    .subname {
                        width: 100%;
                        position:relative;
                        margin-right: -1000px;
                        text-wrap: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 1.1em;
                        padding-top: 4px;
                    }
                }
            }
        }
    }
}
