.overview-page {
    table {
        thead {
            background-color: var(--el-color-primary);
            color: white;
        }
    }

    .country-overview {
        overflow-y: auto;
        max-height: 600px;

        table {
            thead {
                position: sticky;
                top: 0px;
            }

            .totalHeader {
                td {
                    font-weight: bold;
                }
            }
        }
    }

    .competition {
        .list {
            tbody {
                td { 
                    white-space: nowrap;
                }
            }
        }
    }
}
