.registration-page {
    .registration-header {
        .country-switch {
            float: right;

            label {
                padding-right: 10px;
                line-height: 24px;
            }

        }
    }

    .participant-list {
        .participant-filters {
            display: flex;
            justify-content: center;
            padding-bottom: 6px;
        }

        table {
            width: 90%;
            margin-left: auto;
            margin-right: auto;

            thead {
                background-color: var(--el-color-primary);
                color: white;    
            }           
        }
    }



    .photoAccepted {
        color: green;
    }

    .photoReplace {
        color: red;
    }

    .photoPending {
        color: blue;
    }

    .photoAbsent {
        color: red;
    }

}

.el-dialog {
    .suggestion-list {
        width: 80%;
    }

    .photoid-element {
        .photo-id {
            img {
                width: 60%;
            }
        }
    }
}

.selection-dialog {
    h3 {
        margin:20px 0px 5px 0px;
    }

    .fencer-select-events, .fencer-select-roles {
        .el-checkbox {
            height: auto;
        }
    }

    .state-icons {
        font-size: large;
    }

    .state-error { 
        color: red;
    }
    .state-saved {
        color: green;
    }
    .state-saving {
        color: blue;
    }

    .payment-selection {
        display: flex;
        justify-content: end;
        flex-direction: row;
    }
}
