api/vendor/
apinode_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
api/bootstrap/compiled.php
api/app/storage/

# Laravel 5 & Lumen specific
api/public/storage
api/public/hot

# Laravel 5 & Lumen specific with changed public path
api/public_html/storage
api/public_html/hot

api/storage/*.key
.env
.env.*
.phpunit.result.cache

wordpress

mobile/evf/android/app/src/*/res/mipmap-hdpi
mobile/evf/android/app/src/*/res/mipmap-mdpi
mobile/evf/android/app/src/*/res/mipmap-xhdpi
mobile/evf/android/app/src/*/res/mipmap-xxhdpi
mobile/evf/android/app/src/*/res/mipmap-xxxhdpi
mobile/evf/ios/Runner/Assets.xcassets/AppIcon-dev.appiconset
mobile/evf/ios/Runner/Assets.xcassets/AppIcon-prod.appiconset
