api/vendor/
apinode_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
api/bootstrap/compiled.php
api/app/storage/

# Laravel 5 & Lumen specific
api/public/storage
api/public/hot

# Laravel 5 & Lumen specific with changed public path
api/public_html/storage
api/public_html/hot

api/storage/*.key
.env
.phpunit.result.cache

wordpress

